.db-commander-container {
  position: relative;
}

.db-commander-search-dropdown {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: 250px;
  padding: 6px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  margin-top: -6px;
  background-color: #ffffff;
}

.db-commander-searching {
  color: #acacac;
  font-size: 14px;
}

.db-commander-search-row {
  padding: 5px;
  color: #000000;
  margin-bottom: 4px;
}
